.login-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-container {
  flex: 4;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.logo-login {
  width: 100%;
}

.logo-login img {
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

h1,
h2 {
  font-family: "Poppins-SemiBold";
  font-size: 26px;
  color: var(--dark);
}

.description {
  text-align: center;
  font-size: 24px;
  font-family: "Poppins";
  color: var(--dark);
  padding: 0 10% 0 10%;
}

.description-container {
  width: 100%;
  text-align: center;
}

.svg-container {
  width: 100%;
}

.svg-container img {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: var(--neutral);
  box-shadow: inset -5px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.wrapper-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-content {
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.input-content label {
  display: block;
  font-size: 14px;
  color: var(--primary);
}

.divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remember-me {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remember-me label {
  display: block;
  font-size: 14px;
  color: var(--primary);
}

.forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.forgot-password a {
  font-size: 14px;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-text {
  color: var(--primary);
}

.register-link {
  text-decoration: underline;
}
