.forgotPassword-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logo-forgot-password img {
  width: 20%;
}

.card-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.email-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.email-container img {
  height: 45%;
  width: 45%;
  align-self: center;
}
.input-content {
  width: 100%;
  margin: 10px 0px 5px 0px;
}

.input-content label {
  display: block;
  font-size: 14px;
  color: var(--primary);
  text-align: left;
}

.error-text {
  display: flex;
  text-align: left;
  color: var(--accent);
  margin: 5px 0px 0px 0px;
}
