.profile-popover-container {
  padding-right: 2%;
}

.profile-button {
  background-color: var(--dark);
  color: var(--neutral);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.profile-button:hover {
  opacity: 0.8;
}

.profile-popover-content {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary);
}

.popover-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popover-list li {
  padding: 0px 55px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: var(--dark);
}

.popover-list li:hover {
  background-color: var(--neutral);
}
