.custom-button {
    width: 100%;
    height: 45;
    background-color: var(--primary);
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: 1px;
  }

  .custom-button:hover{
    background-color:var(--primary);
  }

