/* Container */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the login form */
.register-form {
  background: var(--secondary);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

/* Style the form heading */
.register-form h2 {
  color: #333;
}

/* Style the form groups (username and password fields) */
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #176B87;
  margin-top: 15px;
  text-align: left;
}


.app-logo {
  width: 80px; /* Adjust based on your logo size */
  height: auto;
  margin-bottom: 1rem;
}

.divider {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  position: relative;
}

.divider::before, .divider::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}

/* Style the Login Link */
.login-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

.login-link span {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.login-link span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.google-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 2px solid #176B87;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.google-text {
  color: #176B87;
}

.error-text {
  text-align: left;
  color: var(--accent);
}