services:
  
  backend:
    build: ../backend
    ports:
      - "8000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
  
  frontend:
    build: ../frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
