.popover-container {
  position: relative;
}

.ellipsis-button {
  background: transparent;
  border: none;
  color: var(--accent);
  cursor: pointer;
  font-size: 1rem;
}

.menu-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.9rem;
}

.menu-item:hover {
  background: var(--secondary);
  border-radius: 20px;
}

.menu-item i {
  margin-right: 8px;
}
