.chat-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

.chat-message {
  max-width: 60%;
  padding: 10px 16px;
  border-radius: 12px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 0.95rem;
}

.ai-message {
  background-color: var(--secondary);
  color: var(--dark);
  align-self: flex-start;
  text-align: left;
}

.user-message {
  background-color: var(--primary);
  color: #fff;
  align-self: flex-end;
  text-align: left;
}

.message-text {
  margin: 0;
}

.message-time {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  bottom: 2px;
  right: 10px;
  text-align: right;
}

.placeholder-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Loading Dots Animation */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dot {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.3;
  animation: bounce 1.5s infinite;
}

.dot.one {
  animation-delay: 0s;
}

.dot.two {
  animation-delay: 0.2s;
}

.dot.three {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    opacity: 0.3;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
