.landing-page {
  display: flex;
  height: 100vh;
}

.history-sidebar {
  flex: 3;
  background-color: var(--primary);
  padding: 16px;
  border-right: 1px solid var(--primary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.main-content {
  flex: 7;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 16px;
  background-color: var(--neutral);
  height: 100vh;
  box-sizing: border-box;
}

.chat-header {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 16px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: white;
  border-top: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
