body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eef5ff;
  font-family: "Poppins";
}

:root {
  --primary: #176b87;
  --secondary: #b4d4ff;
  --neutral: #f5f5f5;
  --dark: #0a3a40;
  --accent: #ff731d;
  --white: #ffffff;
  --black: #000000;
  --gray: #444654;
  --grey: #565869;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf");
}
