.custom-card {
  width: 60%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4),
    -5px -5px 15px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Poppins";
}
