.verify-password-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.custom-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.logo-password {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-password img {
  width: 20%;
}

.password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-input {
  width: 100%;
  margin: 10px 0px 5px 0px;
}
